.expo
.expo-shared
.vscode
ApplePushServices.p12
KEYSTORE.MD
bangumi.jks
bangumi.mobileprovision
constants/secret.js
dist/
iPhoneDistribution.p12
ios/
node_modules
node_modules2
yarn.lock

*.iml
.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
.DS_Store
/android/build
/android/captures
.externalNativeBuild
